body {
  background-color: rgb(179, 176, 176);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.cards-image{
  display: flex;
  justify-content: left;
  gap: 0.75rem;
}

.author-name{
  font-weight: 600;
  font-size: 0.96rem;
  padding: 0.6rem;
  line-height: 2rem;
  margin-top: 10px;
}

.cards-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}



/* Primera tarjeta */
.cards-container .card:nth-child(1) {
  /* Estilo clásico limpio */
  background-color: #fff;
  color: black;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 100px;
  border: 3px solid grey;
  font-size: 20px;
}

.cards-container .card:nth-child(1) .cards-image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border: 1px solid grey;
}

.cards-container .card:nth-child(1) .cards-image span {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  background-color: white;
  border: 0.1px solid grey;
  border-radius: 20px;
  box-shadow: 0 4px 12px  rgba(0, 0, 0, 0.4);
}




/* segunda tarjeta */
.cards-container .card:nth-child(2) {
  /* Estilo moderno oscuro */
  margin: 2rem;
  font-family: 'Poppins', sans-serif;
  background-color: #1e1e1e;
  color: red;
  padding: 1.5rem;
  border-radius: 3rem;
  border: 4px solid rgba(245, 0, 0, 0.404);
  font-weight: bold;
  font-size: 20px;
}

.cards-container .card:nth-child(2) .cards-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border: 2px solid darkred;
}

.cards-container .card:nth-child(2) .cards-image span {
  font-size: 1.1rem;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 20px;
  background: linear-gradient(to right, red, darkred);
}



.cards-container .card:nth-child(3) {
  /* Estilo minimalista con borde */
  font-family: 'Source Sans Pro', sans-serif;
  background-color: grey;
  border: 2px solid black;
  color: black;
  padding: 2rem;
  border-radius: 0.76rem;
  font-style: italic;
  font-size: 20px;
}

.cards-container .card:nth-child(3) .cards-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.8;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
}

.cards-container .card:nth-child(3) .cards-image span {
  font-size: 1.2rem;
  color: #222;
  border-radius: 20px;
  margin-top: 0;
  font-style: italic;
}

